# BESI-C Relay Crontab
#   https://github.com/pennbauman/besic-relay
#   Penn Bauman <pcb8gb@virginia.edu>
@reboot besic-heartbeat
* * * * * besic-heartbeat
0 * * * * bash /var/besic/update.sh
0 2 * * * bash /var/besic/update.sh daily
