# BESI-C Relay Crontab
#   https://github.com/pennbauman/besic-relay
#   Penn Bauman <pcb8gb@virginia.edu>
@reboot bash /var/besic/beacon.sh
@reboot bash /var/besic/heartbeat.sh
* * * * * bash /var/besic/heartbeat.sh
